.pageContainer {
  display: flex;
  justify-content: center;
  padding: 5px;

  .bigWhiteCard {
    justify-content: center;

    @media screen and (max-width: 768px) {
      box-shadow: none;
    }

    .cardHeading {
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;

      span:first-child {
        color: #EC268F;
      }

      span:nth-child(2) {
        color: #03F463;
      }

      span:nth-child(3) {
        color: #0B5C93;
      }
    }

    .text {
      align-self: center;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 1rem;

      .startBtn {
        margin-top: 0.5rem;
      }
    }
  }
}