.pageContainer {
  display: flex;
  justify-content: center;
  padding: 5px;

  .bigWhiteCard {
    justify-content: center;
    
    .cardHeading {
      margin-bottom: 2rem;
      align-self: center;

      span:first-child {
        color: #EC268F;
      }

      span:nth-child(2) {
        color: #03F463;
      }

      span:nth-child(3) {
        color: #0B5C93;
      }
    }

    .text {
      align-self: center;
    }

    .whatsappLogo {
      align-self: center;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .startBtn {
      align-self: center;
      margin-top: 3rem;
      min-width: 300px;
      max-width: 300px;
    }
  }
}