.heading {
    font-size: var(--font-size-md);
}

.fontSizeXXXS {
    font-size: var(--font-size-xxxs);
}

.fontSizeXXS {
    font-size: var(--font-size-xxs);
}

.fontSizeXS {
    font-size: var(--font-size-xs);
}

.fontSizeSM {
    font-size: var(--font-size-sm);
}

.fontSizeMD {
    font-size: var(--font-size-md);
}

.fontSizeLG {
    font-size: var(--font-size-lg);
}

.fontSizeXL {
    font-size: var(--font-size-xl);
}

.fontSizeXXL {
    font-size: var(--font-size-xxl);
}